In [1]:
# LIBRARIES
import pandas as pd
import numpy as np
import json
from fuzzywuzzy import process
from sklearn.ensemble import IsolationForest, RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.preprocessing import normalize, StandardScaler

In [2]:
def read_data(file_name, header=0, sep=','):
    """
    Reads a csv file and returns a pandas dataframe
    """
    return pd.read_csv(file_name, sep=sep, header=header)

In [3]:
def try_parse_float(value):
    """
    Try to parse a string as a float
    """
    try:
        float(value)
    except:
        return False
    return True

In [4]:
def detect_correct_datatype(df, column):
    float_count = df[column].apply(lambda x: try_parse_float(x)).sum() - df[column].isna().sum()
    percentage_float = ((df.shape[0] - float_count) / df.shape[0]) * 100
    if percentage_float <= 25:
        df[column] = pd.to_numeric(df[column], errors='coerce')

In [5]:
def convert_type(val, type):
    """
    Convert a value to a given type
    """
    try:
        if type == 'int64':
            return np.int64(val)
        elif type == 'float64':
            return np.float64(val)
        elif type == 'uint8':
            return np.uint8(val)
    except:
        return None

In [6]:
def is_numeric_or_categorical(df, column):
    unique_values = df[column].unique()
    if ((df.shape[0] - len(unique_values)) / df.shape[0]) * 100 < 93:
        return True, ((df.shape[0] - len(unique_values)) / df.shape[0]) * 100
    return False, ((df.shape[0] - len(unique_values)) / df.shape[0]) * 100

In [7]:
def remove_columns(df, columns):
    """
    Removes columns from a dataframe
    """
    df.drop(columns, axis=1, inplace=True)

In [8]:
def remove_rows(df, rows):
    """
    Removes rows from a dataframe
    """
    df.drop(rows, axis=0, inplace=True)

In [9]:
def drop_rows_condition(df, conition):
    return df[~conition]

In [10]:
def remove_duplicates(df):
    """
    Removes duplicates from a dataframe
    """
    df.drop_duplicates(inplace=True)

In [11]:
def convert_to_datatype(df, column, datatype):
    """
    Converts a column to a datatype
    """
    if datatype == 'object':
        df[column] = df[column].astype(datatype)
    else:
        df[column] = df[column].apply(lambda x: convert_type(x, datatype))
        
    return df

In [12]:
def remove_outlier_numeric(df, column, min=-np.inf, max=np.inf):
    """
    Removes rows from a dataframe based on a condition
    """
    if min != -np.inf and max != np.inf:
        return df[((df[column] >= min) & (df[column] <= max)) | df[column].isna()]
    elif min == -np.inf and max != np.inf:
        return df[(df[column] <= max) | df[column].isna()]
    elif min != -np.inf and max == np.inf:
        return df[(df[column] >= min) | df[column].isna()]

In [13]:
def detect_outlier_numeric(df, column, min=-np.inf, max=np.inf):
    """
    Removes rows from a dataframe based on a condition
    """
    if min != -np.inf and max != np.inf:
        return ~((df[column] >= min) & (df[column] <= max))
    elif min == -np.inf and max != np.inf:
        return ~(df[column] <= max)
    elif min != -np.inf and max == np.inf:
        return ~(df[column] >= min)

In [14]:
def remove_outlier_categorical(df, column, unique_values):
    """
    Removes rows from a dataframe based on a condition
    """
    inconsistent_categories = pd.array(list(set(df[column].unique()) - set(unique_values)))
    return df[(~df[column].isin(inconsistent_categories)) | df[column].isna()]

In [15]:
def detect_outlier_categorical(df, column, unique_values):
    """
    Removes rows from a dataframe based on a condition
    """
    inconsistent_categories = pd.array(list(set(df[column].unique()) - set(unique_values)))
    return df[column].isin(inconsistent_categories)

In [16]:
def detect_outliers_std(df, column, std=3):
    """
    Detect outliers based on standard deviation
    """
    
    # Set upper and lower limit to 3 standard deviation
    random_data_std = np.std(df[column])
    random_data_mean = np.mean(df[column])
    anomaly_cut_off = random_data_std * std
    
    lower_limit  = random_data_mean - anomaly_cut_off 
    upper_limit = random_data_mean + anomaly_cut_off

    # Generate outliers
    outliers = (df[column] < lower_limit) | (df[column] > upper_limit)
    return outliers

In [17]:
def detect_outliers_isolation_forest(df, column, contamination=0.1):
    """
    Detect outliers based on isolation forest
    """
    # Create isolation forest
    clf = IsolationForest(random_state=0, contamination=contamination)
    predictions = clf.fit_predict(df[column].to_numpy().reshape(-1, 1))   
    return predictions == -1

In [18]:
def correct_category_levenshtein(df, column, incorrect_categories, threshold=80):
    """
    Corrects a column by using fuzzywuzzy to find the correct category
    """    
    # inconsistent_categories = pd.array(list(set(df[column].unique()) - set(incorrect_categories)))
    inconsistent_categories = pd.array(list(incorrect_categories))
    inconsistent_categories = inconsistent_categories[~inconsistent_categories.isna()]
    
    correct_categories = pd.array(list(set(df[column].unique()) - set(incorrect_categories)))
    
    for inconsistent_category in inconsistent_categories:
        if not pd.isna(inconsistent_category):
            potential_match = process.extractOne(inconsistent_category, correct_categories)
            if potential_match[1] > threshold:
                df.loc[df[column] == inconsistent_category, column] = potential_match[0]
    return df

In [19]:
def convert_nominal_categories(df, columns):
    """
    Converts categorical data to numeric data
    """
    return pd.get_dummies(df, columns=columns)

In [20]:
def convert_ordinal_category(df, column, order):
    df[column].replace(to_replace=df[column].unique(), value=order, inplace=True)

In [21]:
def fill_missing_values(df, column, value):
    """
    Fills missing values in a column with a value
    """
    df[column].fillna(value, inplace=True)

In [22]:
def drop_missing_values(df, column):
    """
    Drops missing values in a column
    """
    df.dropna(subset=[column], inplace=True)

In [23]:
def fill_average_mode(df, column, is_numeric):
    """
    Fills missing values in a column with the average or mode
    """
    if not is_numeric:
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df[column].fillna(df[column].mean(), inplace=True)

In [24]:
def knn_impute(df, column, is_numeric):
    """
    Imputation using KNN
    """
    x_train = df[~df[column].isna()].copy()
    x_train.dropna(inplace=True)
    
    y_train = x_train[column]
    x_train = x_train[x_train.columns[x_train.columns != column]]
    x_train = x_train[x_train.columns[x_train.dtypes != 'object']]
     
        
    x_predict = df[df[column].isna()][df.columns[df.columns != column]].copy()
    x_predict = x_predict[x_predict.columns[x_predict.dtypes != 'object']]
    
    if x_predict.shape[0] == 0:
        return
    
    if is_numeric:
        # REGRESSION
        knn_regressor = KNeighborsRegressor()
        knn_regressor.fit(x_train, y_train)
        y_predict = knn_regressor.predict(x_predict)
        df.loc[df[column].isna(), column] = y_predict
    else:
        # CLASSIFICATION
        knn_classifier = KNeighborsClassifier()
        knn_classifier.fit(x_train, y_train)
        y_predict = knn_classifier.predict(x_predict)
        df.loc[df[column].isna(), column] = y_predict

In [25]:
def pearson_score(df, column, output_column):
    df_temp = df.copy()
    drop_missing_values(df_temp, column)
    if df_temp[column].dtype == 'object':
        convert_ordinal_category(df_temp, column, [x for x in range(len(df_temp[column].unique()))])
        
    p_score = df_temp[column].corr(df_temp[output_column], method='pearson')
    return p_score

In [26]:
def automatic_data_filler(df, column, output_column, is_numeric, no_corr=0.01, low_corr=0.5):
    
    p_score = pearson_score(df, column, output_column)
    
    if df[column].isna().sum() == 0:
        print(column, ': No missing values')
        return 'automatic', p_score
        
    
    if p_score >= -no_corr and p_score <= no_corr:
        # NO CORRELATION
        if ((df.shape[0] - df[column].isna().sum()) / df.shape[0]) * 100 >= 50:
            # MISSING VALUES ARE TOO LARGE
            # print(column, p_score, "No correlation, missing values too large")
            remove_columns(df, [column])
            return 'column', p_score
        else:
            # MISSING VALUES ARE SMALL
            # print(column, p_score, "No correlation, missing values small")
            drop_missing_values(df, column)
            return 'row', p_score
    elif (p_score >= -low_corr and p_score < -no_corr) or (p_score > no_corr and p_score <= low_corr):
        # LOW CORRELATION
        # print(column, p_score, "Low correlation")
        fill_average_mode(df, column, is_numeric)
        return 'average', p_score
    elif p_score >= -1 and p_score <= 1:
        # HIGH CORRELATION
        # print(column, p_score, "High correlation")
        knn_impute(df, column, is_numeric)
        return 'knn', p_score

In [27]:
def normalize_column(df, column):
    df[column] = StandardScaler().fit_transform(df[column].values.reshape(-1, 1))

In [28]:
def data_cleaning_suggestions(df, output_column):
    df_jsons = []
    for col in df.columns[df.columns != output_column]:
        col_json = {}
        col_json.update({"column_name": col})
        
        # Detect Datatype
        detect_correct_datatype(df, col)
        if df[col].dtype == 'object':
            col_json.update({"datatype": "object"})
        elif df[col].dtype == 'int64':
            col_json.update({"datatype": "int64"})
        elif df[col].dtype == 'float64':
            col_json.update({"datatype": "float64"})
        elif df[col].dtype == 'uint8':
            col_json.update({'datatype': 'uint8'})
        
        # Detect Numeric or Categorical
        is_numeric = False
        if df[col].dtype != 'object':
            is_numeric, _ = is_numeric_or_categorical(df, col)
        col_json.update({'is_numeric': is_numeric})
        
        # Detect Outliers
        if is_numeric:
            outliers = detect_outliers_std(df, col)
            df = drop_rows_condition(df, outliers)
        elif df[col].dtype != 'object':
            outliers = detect_outliers_std(df, col)
            df = drop_rows_condition(df, outliers)
        elif df[col].dtype == 'object':
            df[col] = df[col].str.strip()
            df_temp = df.copy()
            convert_ordinal_category(df_temp, col, [x for x in range(len(df_temp[col].unique()))])
            outliers = detect_outliers_isolation_forest(df_temp, col, 0.05)
            try:
                df = correct_category_levenshtein(df, col, df[outliers][col].unique())
            except:
                print(col, "ERROR: Levenshtein")
                df = drop_rows_condition(df, outliers)
                        
        if is_numeric:
            col_json.update({'min': df[col].min(), 'max': df[col].max(), 'mean': df[col].mean()})
            col_json.update({'unique_count': None, 'unique_values': None, 'mode': None})
        elif df[col].dtype != 'object':
            col_json.update({'min': df[col].min(), 'max': df[col].max(), 'mean': df[col].mean()})
            col_json.update({'unique_count': len(df[col].unique()), 'unique_values': df[col].unique().tolist(), 'mode': df[col].mode()[0]})
        elif df[col].dtype == 'object':
            col_json.update({'min': None, 'max': None, 'mean': None})
            col_json.update({'unique_count': len(df[col].unique()), 'unique_values': df[col].unique().tolist(), 'mode': df[col].mode()[0]})
            
        # Missing Data Filler
        method, p_score = automatic_data_filler(df, col, output_column, is_numeric)
        col_json.update({'fill_method': method})
        col_json.update({'p_score': p_score})
        
        if method != 'column' and not is_numeric:
            col_json.update({'unique_count': len(df[col].unique()), 'unique_values': df[col].unique().tolist()})
        
        # completing json
        col_json.update({'is_nominal': True})
        col_json.update({'ordinal_order': []})
                
        df_jsons.append(col_json)
            
    return df_jsons, df

In [29]:
def clean_train(df, output_column, operations):
    for col_json in operations:
        # Column name
        col = col_json['column_name']
        
        # Check if column dropped
        if col_json['fill_method'] == 'column':
            remove_columns(df, [col])
            continue
        
        # Convert to datatype
        convert_to_datatype(df, col, col_json['datatype'])
                
        # Categorical or numeric
        is_numeric = col_json['is_numeric']

        # Detect Outliers
        if is_numeric:
            df = remove_outlier_numeric(df, col, col_json['min'], col_json['max'])
        elif df[col].dtype != 'object':
            df = remove_outlier_categorical(df, col, col_json['unique_values'])
        elif df[col].dtype == 'object':
            df[col] = df[col].str.strip()
            outliers = pd.array(list(set(df[col].unique()) - set(col_json['unique_values'])))
            try:
                df = correct_category_levenshtein(df, col, outliers.to_numpy())
            except:
                df = drop_rows_condition(df, df[col].isin(outliers))
        
        # Fill missing data
        if col_json['fill_method'] == 'automatic':
            _ = automatic_data_filler(df, col, output_column, is_numeric)
        elif col_json['fill_method'] == 'average':
            fill_average_mode(df, col, is_numeric)
        elif col_json['fill_method'] == 'knn':
            knn_impute(df, col, is_numeric)
        elif col_json['fill_method'] == 'row':
            drop_missing_values(df, col)
                        
        # Convert Nominal/Ordinal
        if df[col].dtype == 'object':
            if col_json['is_nominal']:
                df = convert_nominal_categories(df, [col])
            else:
                convert_ordinal_category(df, col, col_json['ordinal_order'])

    return df

In [30]:
def clean_test(df, operations):
    for col_json in operations:
        # Column name
        col = col_json['column_name']
        
        # Check if column dropped
        if col_json['fill_method'] == 'column':
            remove_columns(df, [col])
            continue
        
        # Convert to datatype
        convert_to_datatype(df, col, col_json['datatype'])

        # Categorical or numeric
        is_numeric = col_json['is_numeric']

        # Detect Outliers
        if is_numeric:
            outliers = detect_outlier_numeric(df, col, col_json['min'], col_json['max'])
            df[col][outliers] = col_json['mean']
        elif df[col].dtype != 'object':
            outliers = detect_outlier_categorical(df, col, col_json['unique_values'])
            df[col][outliers] = col_json['mode']
        elif df[col].dtype == 'object':
            df[col] = df[col].str.strip()
            outliers = pd.array(list(set(df[col].unique()) - set(col_json['unique_values'])))
            try:
                df = correct_category_levenshtein(df, col, outliers.to_numpy())
            except:
                df[col][outliers] = col_json['mode']
                
        # Fill missing data
        # if col_json['fill_method'] == 'automatic' or col_json['fill_method'] == 'row':
        #     p_score = col_json['p_score']
        #     if p_score >= -0.5 and p_score <= 0.5:
        #         if not is_numeric:
        #             df[col].fillna(col_json['mode'], inplace=True)
        #         else:
        #             df[col].fillna(col_json['mean'], inplace=True)
        #     else:
        #         knn_impute(df, col, is_numeric)
        # if col_json['fill_method'] == 'average':
        #     fill_average_mode(df, col, is_numeric)
        # elif col_json['fill_method'] == 'knn':
        #     knn_impute(df, col, is_numeric)
        if not is_numeric:
            df[col].fillna(col_json['mode'], inplace=True)
        else:
            df[col].fillna(col_json['mean'], inplace=True)
            
        # Convert Nominal/Ordinal
        if df[col].dtype == 'object':
            if col_json['is_nominal']:
                df = convert_nominal_categories(df, [col])
            else:
                convert_ordinal_category(df, col, col_json['ordinal_order'])
        
    return df

# TESTING FUNCTIONS

In [38]:
titanic_df = read_data('../../datasets/titanic/titanic.csv', header=0)
# remove_columns(titanic_df, ['PassengerId', 'Pclass', 'Ticket', 'Cabin', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare', 'Name'])
titanic_df.head()
titanic_df[['Fare', 'Age']].values.tolist()

[[7.25, 22.0],
 [71.2833, 38.0],
 [7.925, 26.0],
 [53.1, 35.0],
 [8.05, 35.0],
 [8.4583, nan],
 [51.8625, 54.0],
 [21.075, 2.0],
 [11.1333, 27.0],
 [30.0708, 14.0],
 [16.7, 4.0],
 [26.55, 58.0],
 [8.05, 20.0],
 [31.275, 39.0],
 [7.8542, 14.0],
 [16.0, 55.0],
 [29.125, 2.0],
 [13.0, nan],
 [18.0, 31.0],
 [7.225, nan],
 [26.0, 35.0],
 [13.0, 34.0],
 [8.0292, 15.0],
 [35.5, 28.0],
 [21.075, 8.0],
 [31.3875, 38.0],
 [7.225, nan],
 [263.0, 19.0],
 [7.8792, nan],
 [7.8958, nan],
 [27.7208, 40.0],
 [146.5208, nan],
 [7.75, nan],
 [10.5, 66.0],
 [82.1708, 28.0],
 [52.0, 42.0],
 [7.2292, nan],
 [8.05, 21.0],
 [18.0, 18.0],
 [11.2417, 14.0],
 [9.475, 40.0],
 [21.0, 27.0],
 [7.8958, nan],
 [41.5792, 3.0],
 [7.8792, 19.0],
 [8.05, nan],
 [15.5, nan],
 [7.75, nan],
 [21.6792, nan],
 [17.8, 18.0],
 [39.6875, 7.0],
 [7.8, 21.0],
 [76.7292, 49.0],
 [26.0, 29.0],
 [61.9792, 65.0],
 [35.5, nan],
 [10.5, 21.0],
 [7.2292, 28.5],
 [27.75, 5.0],
 [46.9, 11.0],
 [7.2292, 22.0],
 [80.0, 38.0],
 [83.475, 45.0],
 [27.9, 4.0],
 [27.7208, nan],
 [15.2458, nan],
 [10.5, 29.0],
 [8.1583, 19.0],
 [7.925, 17.0],
 [8.6625, 26.0],
 [10.5, 32.0],
 [46.9, 16.0],
 [73.5, 21.0],
 [14.4542, 26.0],
 [56.4958, 32.0],
 [7.65, 25.0],
 [7.8958, nan],
 [8.05, nan],
 [29.0, 0.83],
 [12.475, 30.0],
 [9.0, 22.0],
 [9.5, 29.0],
 [7.7875, nan],
 [47.1, 28.0],
 [10.5, 17.0],
 [15.85, 33.0],
 [34.375, 16.0],
 [8.05, nan],
 [263.0, 23.0],
 [8.05, 24.0],
 [8.05, 29.0],
 [7.8542, 20.0],
 [61.175, 46.0],
 [20.575, 26.0],
 [7.25, 59.0],
 [8.05, nan],
 [34.6542, 71.0],
 [63.3583, 23.0],
 [23.0, 34.0],
 [26.0, 34.0],
 [7.8958, 28.0],
 [7.8958, nan],
 [77.2875, 21.0],
 [8.6542, 33.0],
 [7.925, 37.0],
 [7.8958, 28.0],
 [7.65, 21.0],
 [7.775, nan],
 [7.8958, 38.0],
 [24.15, nan],
 [52.0, 47.0],
 [14.4542, 14.5],
 [8.05, 22.0],
 [9.825, 20.0],
 [14.4583, 17.0],
 [7.925, 21.0],
 [7.75, 70.5],
 [21.0, 29.0],
 [247.5208, 24.0],
 [31.275, 2.0],
 [73.5, 21.0],
 [8.05, nan],
 [30.0708, 32.5],
 [13.0, 32.5],
 [77.2875, 54.0],
 [11.2417, 12.0],
 [7.75, nan],
 [7.1417, 24.0],
 [22.3583, nan],
 [6.975, 45.0],
 [7.8958, 33.0],
 [7.05, 20.0],
 [14.5, 47.0],
 [26.0, 29.0],
 [13.0, 25.0],
 [15.0458, 23.0],
 [26.2833, 19.0],
 [53.1, 37.0],
 [9.2167, 16.0],
 [79.2, 24.0],
 [15.2458, nan],
 [7.75, 22.0],
 [15.85, 24.0],
 [6.75, 19.0],
 [11.5, 18.0],
 [36.75, 19.0],
 [7.7958, 27.0],
 [34.375, 9.0],
 [26.0, 36.5],
 [13.0, 42.0],
 [12.525, 51.0],
 [66.6, 22.0],
 [8.05, 55.5],
 [14.5, 40.5],
 [7.3125, nan],
 [61.3792, 51.0],
 [7.7333, 16.0],
 [8.05, 30.0],
 [8.6625, nan],
 [69.55, nan],
 [16.1, 44.0],
 [15.75, 40.0],
 [7.775, 26.0],
 [8.6625, 17.0],
 [39.6875, 1.0],
 [20.525, 9.0],
 [55.0, nan],
 [27.9, 45.0],
 [25.925, nan],
 [56.4958, 28.0],
 [33.5, 61.0],
 [29.125, 4.0],
 [11.1333, 1.0],
 [7.925, 21.0],
 [30.6958, 56.0],
 [7.8542, 18.0],
 [25.4667, nan],
 [28.7125, 50.0],
 [13.0, 30.0],
 [0.0, 36.0],
 [69.55, nan],
 [15.05, nan],
 [31.3875, 9.0],
 [39.0, 1.0],
 [22.025, 4.0],
 [50.0, nan],
 [15.5, nan],
 [26.55, 45.0],
 [15.5, 40.0],
 [7.8958, 36.0],
 [13.0, 32.0],
 [13.0, 19.0],
 [7.8542, 19.0],
 [26.0, 3.0],
 [27.7208, 44.0],
 [146.5208, 58.0],
 [7.75, nan],
 [8.4042, 42.0],
 [7.75, nan],
 [13.0, 24.0],
 [9.5, 28.0],
 [69.55, nan],
 [6.4958, 34.0],
 [7.225, 45.5],
 [8.05, 18.0],
 [10.4625, 2.0],
 [15.85, 32.0],
 [18.7875, 26.0],
 [7.75, 16.0],
 [31.0, 40.0],
 [7.05, 24.0],
 [21.0, 35.0],
 [7.25, 22.0],
 [13.0, 30.0],
 [7.75, nan],
 [113.275, 31.0],
 [7.925, 27.0],
 [27.0, 42.0],
 [76.2917, 32.0],
 [10.5, 30.0],
 [8.05, 16.0],
 [13.0, 27.0],
 [8.05, 51.0],
 [7.8958, nan],
 [90.0, 38.0],
 [9.35, 22.0],
 [10.5, 19.0],
 [7.25, 20.5],
 [13.0, 18.0],
 [25.4667, nan],
 [83.475, 35.0],
 [7.775, 29.0],
 [13.5, 59.0],
 [31.3875, 5.0],
 [10.5, 24.0],
 [7.55, nan],
 [26.0, 44.0],
 [26.25, 8.0],
 [10.5, 19.0],
 [12.275, 33.0],
 [14.4542, nan],
 [15.5, nan],
 [10.5, 29.0],
 [7.125, 22.0],
 [7.225, 30.0],
 [90.0, 44.0],
 [7.775, 25.0],
 [14.5, 24.0],
 [52.5542, 37.0],
 [26.0, 54.0],
 [7.25, nan],
 [10.4625, 29.0],
 [26.55, 62.0],
 [16.1, 30.0],
 [20.2125, 41.0],
 [15.2458, 29.0],
 [79.2, nan],
 [86.5, 30.0],
 [512.3292, 35.0],
 [26.0, 50.0],
 [7.75, nan],
 [31.3875, 3.0],
 [79.65, 52.0],
 [0.0, 40.0],
 [7.75, nan],
 [10.5, 36.0],
 [39.6875, 16.0],
 [7.775, 25.0],
 [153.4625, 58.0],
 [135.6333, 35.0],
 [31.0, nan],
 [0.0, 25.0],
 [19.5, 41.0],
 [29.7, 37.0],
 [7.75, nan],
 [77.9583, 63.0],
 [7.75, 45.0],
 [0.0, nan],
 [29.125, 7.0],
 [20.25, 35.0],
 [7.75, 65.0],
 [7.8542, 28.0],
 [9.5, 16.0],
 [8.05, 19.0],
 [26.0, nan],
 [8.6625, 33.0],
 [9.5, 30.0],
 [7.8958, 22.0],
 [13.0, 42.0],
 [7.75, 22.0],
 [78.85, 26.0],
 [91.0792, 19.0],
 [12.875, 36.0],
 [8.85, 24.0],
 [7.8958, 24.0],
 [27.7208, nan],
 [7.2292, 23.5],
 [151.55, 2.0],
 [30.5, nan],
 [247.5208, 50.0],
 [7.75, nan],
 [23.25, nan],
 [0.0, 19.0],
 [12.35, nan],
 [8.05, nan],
 [151.55, 0.92],
 [110.8833, nan],
 [108.9, 17.0],
 [24.0, 30.0],
 [56.9292, 30.0],
 [83.1583, 24.0],
 [262.375, 18.0],
 [26.0, 26.0],
 [7.8958, 28.0],
 [26.25, 43.0],
 [7.8542, 26.0],
 [26.0, 24.0],
 [14.0, 54.0],
 [164.8667, 31.0],
 [134.5, 40.0],
 [7.25, 22.0],
 [7.8958, 27.0],
 [12.35, 30.0],
 [29.0, 22.0],
 [69.55, nan],
 [135.6333, 36.0],
 [6.2375, 61.0],
 [13.0, 36.0],
 [20.525, 31.0],
 [57.9792, 16.0],
 [23.25, nan],
 [28.5, 45.5],
 [153.4625, 38.0],
 [18.0, 16.0],
 [133.65, nan],
 [7.8958, nan],
 [66.6, 29.0],
 [134.5, 41.0],
 [8.05, 45.0],
 [35.5, 45.0],
 [26.0, 2.0],
 [263.0, 24.0],
 [13.0, 28.0],
 [13.0, 25.0],
 [13.0, 36.0],
 [13.0, 24.0],
 [13.0, 40.0],
 [16.1, nan],
 [15.9, 3.0],
 [8.6625, 42.0],
 [9.225, 23.0],
 [35.0, nan],
 [7.2292, 15.0],
 [17.8, 25.0],
 [7.225, nan],
 [9.5, 28.0],
 [55.0, 22.0],
 [13.0, 38.0],
 [7.8792, nan],
 [7.8792, nan],
 [27.9, 40.0],
 [27.7208, 29.0],
 [14.4542, 45.0],
 [7.05, 35.0],
 [15.5, nan],
 [7.25, 30.0],
 [75.25, 60.0],
 [7.2292, nan],
 [7.75, nan],
 [69.3, 24.0],
 [55.4417, 25.0],
 [6.4958, 18.0],
 [8.05, 19.0],
 [135.6333, 22.0],
 [21.075, 3.0],
 [82.1708, nan],
 [7.25, 22.0],
 [211.5, 27.0],
 [4.0125, 20.0],
 [7.775, 19.0],
 [227.525, 42.0],
 [15.7417, 1.0],
 [7.925, 32.0],
 [52.0, 35.0],
 [7.8958, nan],
 [73.5, 18.0],
 [46.9, 1.0],
 [13.0, 36.0],
 [7.7292, nan],
 [12.0, 17.0],
 [120.0, 36.0],
 [7.7958, 21.0],
 [7.925, 28.0],
 [113.275, 23.0],
 [16.7, 24.0],
 [7.7958, 22.0],
 [7.8542, 31.0],
 [26.0, 46.0],
 [10.5, 23.0],
 [12.65, 28.0],
 [7.925, 39.0],
 [8.05, 26.0],
 [9.825, 21.0],
 [15.85, 28.0],
 [8.6625, 20.0],
 [21.0, 34.0],
 [7.75, 51.0],
 [18.75, 3.0],
 [7.775, 21.0],
 [25.4667, nan],
 [7.8958, nan],
 [6.8583, nan],
 [90.0, 33.0],
 [0.0, nan],
 [7.925, 44.0],
 [8.05, nan],
 [32.5, 34.0],
 [13.0, 18.0],
 [13.0, 30.0],
 [24.15, 10.0],
 [7.8958, nan],
 [7.7333, 21.0],
 [7.875, 29.0],
 [14.4, 28.0],
 [20.2125, 18.0],
 [7.25, nan],
 [26.0, 28.0],
 [26.0, 19.0],
 [7.75, nan],
 [8.05, 32.0],
 [26.55, 28.0],
 [16.1, nan],
 [26.0, 42.0],
 [7.125, 17.0],
 [55.9, 50.0],
 [120.0, 14.0],
 [34.375, 21.0],
 [18.75, 24.0],
 [263.0, 64.0],
 [10.5, 31.0],
 [26.25, 45.0],
 [9.5, 20.0],
 [7.775, 25.0],
 [13.0, 28.0],
 [8.1125, nan],
 [81.8583, 4.0],
 [19.5, 13.0],
 [26.55, 34.0],
 [19.2583, 5.0],
 [30.5, 52.0],
 [27.75, 36.0],
 [19.9667, nan],
 [27.75, 30.0],
 [89.1042, 49.0],
 [8.05, nan],
 [7.8958, 29.0],
 [26.55, 65.0],
 [51.8625, nan],
 [10.5, 50.0],
 [7.75, nan],
 [26.55, 48.0],
 [8.05, 34.0],
 [38.5, 47.0],
 [13.0, 48.0],
 [8.05, nan],
 [7.05, 38.0],
 [0.0, nan],
 [26.55, 56.0],
 [7.725, nan],
 [19.2583, 0.75],
 [7.25, nan],
 [8.6625, 38.0],
 [27.75, 33.0],
 [13.7917, 23.0],
 [9.8375, 22.0],
 [52.0, nan],
 [21.0, 34.0],
 [7.0458, 29.0],
 [7.5208, 22.0],
 [12.2875, 2.0],
 [46.9, 9.0],
 [0.0, nan],
 [8.05, 50.0],
 [9.5875, 63.0],
 [91.0792, 25.0],
 [25.4667, nan],
 [90.0, 35.0],
 [29.7, 58.0],
 [8.05, 30.0],
 [15.9, 9.0],
 [19.9667, nan],
 [7.25, 21.0],
 [30.5, 55.0],
 [49.5042, 71.0],
 [8.05, 21.0],
 [14.4583, nan],
 [78.2667, 54.0],
 [15.1, nan],
 [151.55, 25.0],
 [7.7958, 24.0],
 [8.6625, 17.0],
 [7.75, 21.0],
 [7.6292, nan],
 [9.5875, 37.0],
 [86.5, 16.0],
 [108.9, 18.0],
 [26.0, 33.0],
 [26.55, nan],
 [22.525, 28.0],
 [56.4958, 26.0],
 [7.75, 29.0],
 [8.05, nan],
 [26.2875, 36.0],
 [59.4, 54.0],
 [7.4958, 24.0],
 [34.0208, 47.0],
 [10.5, 34.0],
 [24.15, nan],
 [26.0, 36.0],
 [7.8958, 32.0],
 [93.5, 30.0],
 [7.8958, 22.0],
 [7.225, nan],
 [57.9792, 44.0],
 [7.2292, nan],
 [7.75, 40.5],
 [10.5, 50.0],
 [221.7792, nan],
 [7.925, 39.0],
 [11.5, 23.0],
 [26.0, 2.0],
 [7.2292, nan],
 [7.2292, 17.0],
 [22.3583, nan],
 [8.6625, 30.0],
 [26.25, 7.0],
 [26.55, 45.0],
 [106.425, 30.0],
 [14.5, nan],
 [49.5, 22.0],
 [71.0, 36.0],
 [31.275, 9.0],
 [31.275, 11.0],
 [26.0, 32.0],
 [106.425, 50.0],
 [26.0, 64.0],
 [26.0, 19.0],
 [13.8625, nan],
 [20.525, 33.0],
 [36.75, 8.0],
 [110.8833, 17.0],
 [26.0, 27.0],
 [7.8292, nan],
 [7.225, 22.0],
 [7.775, 22.0],
 [26.55, 62.0],
 [39.6, 48.0],
 [227.525, nan],
 [79.65, 39.0],
 [17.4, 36.0],
 [7.75, nan],
 [7.8958, 40.0],
 [13.5, 28.0],
 [8.05, nan],
 [8.05, nan],
 [24.15, 24.0],
 [7.8958, 19.0],
 [21.075, 29.0],
 [7.2292, nan],
 [7.8542, 32.0],
 [10.5, 62.0],
 [51.4792, 53.0],
 [26.3875, 36.0],
 [7.75, nan],
 [8.05, 16.0],
 [14.5, 19.0],
 [13.0, 34.0],
 [55.9, 39.0],
 [14.4583, nan],
 [7.925, 32.0],
 [30.0, 25.0],
 [110.8833, 39.0],
 [26.0, 54.0],
 [40.125, 36.0],
 [8.7125, nan],
 [79.65, 18.0],
 [15.0, 47.0],
 [79.2, 60.0],
 [8.05, 22.0],
 [8.05, nan],
 [7.125, 35.0],
 [78.2667, 52.0],
 [7.25, 47.0],
 [7.75, nan],
 [26.0, 37.0],
 [24.15, 36.0],
 [33.0, nan],
 [0.0, 49.0],
 [7.225, nan],
 [56.9292, 49.0],
 [27.0, 24.0],
 [7.8958, nan],
 [42.4, nan],
 [8.05, 44.0],
 [26.55, 35.0],
 [15.55, 36.0],
 [7.8958, 30.0],
 [30.5, 27.0],
 [41.5792, 22.0],
 [153.4625, 40.0],
 [31.275, 39.0],
 [7.05, nan],
 [15.5, nan],
 [7.75, nan],
 [8.05, 35.0],
 [65.0, 24.0],
 [14.4, 34.0],
 [16.1, 26.0],
 [39.0, 4.0],
 [10.5, 26.0],
 [14.4542, 27.0],
 [52.5542, 42.0],
 [15.7417, 20.0],
 [7.8542, 21.0],
 [16.1, 21.0],
 [32.3208, 61.0],
 [12.35, 57.0],
 [77.9583, 21.0],
 [7.8958, 26.0],
 [7.7333, nan],
 [30.0, 80.0],
 [7.0542, 51.0],
 [30.5, 32.0],
 [0.0, nan],
 [27.9, 9.0],
 [13.0, 28.0],
 [7.925, 32.0],
 [26.25, 31.0],
 [39.6875, 41.0],
 [16.1, nan],
 [7.8542, 20.0],
 [69.3, 24.0],
 [27.9, 2.0],
 [56.4958, nan],
 [19.2583, 0.75],
 [76.7292, 48.0],
 [7.8958, 19.0],
 [35.5, 56.0],
 [7.55, nan],
 [7.55, 23.0],
 [7.8958, nan],
 [23.0, 18.0],
 [8.4333, 21.0],
 [7.8292, nan],
 [6.75, 18.0],
 [73.5, 24.0],
 [7.8958, nan],
 [15.5, 32.0],
 [13.0, 23.0],
 [113.275, 58.0],
 [133.65, 50.0],
 [7.225, 40.0],
 [25.5875, 47.0],
 [7.4958, 36.0],
 [7.925, 20.0],
 [73.5, 32.0],
 [13.0, 25.0],
 [7.775, nan],
 [8.05, 43.0],
 [52.0, nan],
 [39.0, 40.0],
 [52.0, 31.0],
 [10.5, 70.0],
 [13.0, 31.0],
 [0.0, nan],
 [7.775, 18.0],
 [8.05, 24.5],
 [9.8417, 18.0],
 [46.9, 43.0],
 [512.3292, 36.0],
 [8.1375, nan],
 [76.7292, 27.0],
 [9.225, 20.0],
 [46.9, 14.0],
 [39.0, 60.0],
 [41.5792, 25.0],
 [39.6875, 14.0],
 [10.1708, 19.0],
 [7.7958, 18.0],
 [211.3375, 15.0],
 [57.0, 31.0],
 [13.4167, 4.0],
 [56.4958, nan],
 [7.225, 25.0],
 [26.55, 60.0],
 [13.5, 52.0],
 [8.05, 44.0],
 [7.7333, nan],
 [110.8833, 49.0],
 [7.65, 42.0],
 [227.525, 18.0],
 [26.2875, 35.0],
 [14.4542, 18.0],
 [7.7417, 25.0],
 [7.8542, 26.0],
 [26.0, 39.0],
 [13.5, 45.0],
 [26.2875, 42.0],
 [151.55, 22.0],
 [15.2458, nan],
 [49.5042, 24.0],
 [26.55, nan],
 [52.0, 48.0],
 [9.4833, 29.0],
 [13.0, 52.0],
 [7.65, 19.0],
 [227.525, 38.0],
 [10.5, 27.0],
 [15.5, nan],
 [7.775, 33.0],
 [33.0, 6.0],
 [7.0542, 17.0],
 [13.0, 34.0],
 [13.0, 50.0],
 [53.1, 27.0],
 [8.6625, 20.0],
 [21.0, 30.0],
 [7.7375, nan],
 [26.0, 25.0],
 [7.925, 25.0],
 [211.3375, 29.0],
 [18.7875, 11.0],
 [0.0, nan],
 [13.0, 23.0],
 [13.0, 23.0],
 [16.1, 28.5],
 [34.375, 48.0],
 [512.3292, 35.0],
 [7.8958, nan],
 [7.8958, nan],
 [30.0, nan],
 [78.85, 36.0],
 [262.375, 21.0],
 [16.1, 24.0],
 [7.925, 31.0],
 [71.0, 70.0],
 [20.25, 16.0],
 [13.0, 30.0],
 [53.1, 19.0],
 [7.75, 31.0],
 [23.0, 4.0],
 [12.475, 6.0],
 [9.5, 33.0],
 [7.8958, 23.0],
 [65.0, 48.0],
 [14.5, 0.67],
 [7.7958, 28.0],
 [11.5, 18.0],
 [8.05, 34.0],
 [86.5, 33.0],
 [14.5, nan],
 [7.125, 41.0],
 [7.2292, 20.0],
 [120.0, 36.0],
 [7.775, 16.0],
 [77.9583, 51.0],
 [39.6, nan],
 [7.75, 30.5],
 [24.15, nan],
 [8.3625, 32.0],
 [9.5, 24.0],
 [7.8542, 48.0],
 [10.5, 57.0],
 [7.225, nan],
 [23.0, 54.0],
 [7.75, 18.0],
 [7.75, nan],
 [12.475, 5.0],
 [7.7375, nan],
 [211.3375, 43.0],
 [7.2292, 13.0],
 [57.0, 17.0],
 [30.0, 29.0],
 [23.45, nan],
 [7.05, 25.0],
 [7.25, 25.0],
 [7.4958, 18.0],
 [29.125, 8.0],
 [20.575, 1.0],
 [79.2, 46.0],
 [7.75, nan],
 [26.0, 16.0],
 [69.55, nan],
 [30.6958, nan],
 [7.8958, 25.0],
 [13.0, 39.0],
 [25.9292, 49.0],
 [8.6833, 31.0],
 [7.2292, 30.0],
 [24.15, 30.0],
 [13.0, 34.0],
 [26.25, 31.0],
 [120.0, 11.0],
 [8.5167, 0.42],
 [6.975, 27.0],
 [7.775, 31.0],
 [0.0, 39.0],
 [7.775, 18.0],
 [13.0, 39.0],
 [53.1, 33.0],
 [7.8875, 26.0],
 [24.15, 39.0],
 [10.5, 35.0],
 [31.275, 6.0],
 [8.05, 30.5],
 [0.0, nan],
 [7.925, 23.0],
 [37.0042, 31.0],
 [6.45, 43.0],
 [27.9, 10.0],
 [93.5, 52.0],
 [8.6625, 27.0],
 [0.0, 38.0],
 [12.475, 27.0],
 [39.6875, 2.0],
 [6.95, nan],
 [56.4958, nan],
 [37.0042, 1.0],
 [7.75, nan],
 [80.0, 62.0],
 [14.4542, 15.0],
 [18.75, 0.83],
 [7.2292, nan],
 [7.8542, 23.0],
 [8.3, 18.0],
 [83.1583, 39.0],
 [8.6625, 21.0],
 [8.05, nan],
 [56.4958, 32.0],
 [29.7, nan],
 [7.925, 20.0],
 [10.5, 16.0],
 [31.0, 30.0],
 [6.4375, 34.5],
 [8.6625, 17.0],
 [7.55, 42.0],
 [69.55, nan],
 [7.8958, 35.0],
 [33.0, 28.0],
 [89.1042, nan],
 [31.275, 4.0],
 [7.775, 74.0],
 [15.2458, 9.0],
 [39.4, 16.0],
 [26.0, 44.0],
 [9.35, 18.0],
 [164.8667, 45.0],
 [26.55, 51.0],
 [19.2583, 24.0],
 [7.2292, nan],
 [14.1083, 41.0],
 [11.5, 21.0],
 [25.9292, 48.0],
 [69.55, nan],
 [13.0, 24.0],
 [13.0, 42.0],
 [13.8583, 27.0],
 [50.4958, 31.0],
 [9.5, nan],
 [11.1333, 4.0],
 [7.8958, 26.0],
 [52.5542, 47.0],
 [5.0, 33.0],
 [9.0, 47.0],
 [24.0, 28.0],
 [7.225, 15.0],
 [9.8458, 20.0],
 [7.8958, 19.0],
 [7.8958, nan],
 [83.1583, 56.0],
 [26.0, 25.0],
 [7.8958, 33.0],
 [10.5167, 22.0],
 [10.5, 28.0],
 [7.05, 25.0],
 [29.125, 39.0],
 [13.0, 27.0],
 [30.0, 19.0],
 [23.45, nan],
 [30.0, 26.0],
 [7.75, 32.0]]

In [89]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,8.910000e+02
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,7.437622e-16
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,1.000000e+00
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,-6.480577e-01
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,-4.888737e-01
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,-3.571902e-01
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,-2.423274e-02
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,9.661740e+00

In [88]:
titanic_df['Fare'] = (titanic_df['Fare'] -
                           float(titanic_df['Fare'].mean())) / float(titanic_df['Fare'].std())

In [80]:
normalize_column(titanic_df, 'Fare')

In [67]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,8.910000e+02
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,-4.373606e-17
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,1.000562e+00
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,-6.484217e-01
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,-4.891482e-01
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,-3.573909e-01
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,-2.424635e-02
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,9.667167e+00

In [66]:
titanic_df['Fare'] = titanic_df['Fare'].astype('float')

In [1977]:
df = titanic_df.copy()
test_json, df = data_cleaning_suggestions(df, 'Survived')
with open('suggestions.json', "w") as outfile:
        outfile.write(json.dumps(test_json))

PassengerId : No missing values
Pclass : No missing values
Name : No missing values
Sex : No missing values
SibSp : No missing values
Parch : No missing values
Ticket : No missing values
Fare : No missing values

In [1682]:
remove_columns(df, ['PassengerId', 'Name', 'Ticket', 'Cabin'])
convert_ordinal_category(df, 'Sex', [0, 1])
df = convert_nominal_categories(df, ['Embarked'])
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

In [1978]:
operations = json.load(open('suggestions.json'))
test_df = titanic_df.copy()
test_df = clean_train(test_df, 'Survived', operations)
test_df.head()

Pclass False (891, 11) OUTLIER
Pclass False (891, 11)
Pclass : No missing values
Pclass False (891, 11)
Sex False (891, 10) OUTLIER
Sex False (891, 10)
Sex : No missing values
Sex False (891, 10)
Age False (891, 10) OUTLIER
Age False (889, 10)
Age False (889, 10)
SibSp False (889, 10) OUTLIER
SibSp False (859, 10)
SibSp : No missing values
SibSp False (859, 10)
Parch False (859, 10) OUTLIER
Parch False (844, 10)
Parch : No missing values
Parch False (844, 10)
Fare False (844, 9) OUTLIER
Fare False (825, 9)
Fare : No missing values
Fare False (825, 9)
Embarked False (825, 8) OUTLIER
Embarked False (825, 8)
Embarked False (825, 10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,1,0,7.2500,0,0,1
1,1,1,1,38.0,1,0,71.2833,1,0,0
2,1,3,1,26.0,0,0,7.9250,0,0,1
3,1,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,0,35.0,0,0,8.0500,0,0,1

In [1980]:
print(df.shape)
print(test_df.shape)
print(df.columns)

(825, 12)
(825, 10)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [1986]:
test_df.to_csv('cleaned_titanic.csv', index=False)

In [1981]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, mean_squared_log_error

In [1983]:

x_train, x_test, y_train, y_test = train_test_split(test_df.loc[:, test_df.columns != 'Survived'], test_df['Survived'], test_size=0.2)

clf = SVC(kernel='linear', random_state=0)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
accuracy_score(y_test, y_pred)

0.8181818181818182

In [1984]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86       104
           1       0.78      0.70      0.74        61

    accuracy                           0.82       165
   macro avg       0.81      0.79      0.80       165
weighted avg       0.82      0.82      0.82       165

In [1987]:
cars = read_data('../data/raw/cars/cars.csv', header=0)
cars.head()
cars['model'].unique()
# cars['model'] = cars['model'].str.strip()
# cars['model'].unique()

array([' A1', ' A3', ' Q2', ' Q3', ' A5', ' Q5', ' A4', ' A6', nan,
       ' A1.', ' A5.'], dtype=object)

In [1988]:
df = cars.copy()
test_json, df = data_cleaning_suggestions(cars, 'price')
with open('suggestions.json', "w") as outfile:
        outfile.write(json.dumps(test_json))
cars['year'].value_counts()

ID : No missing values
year : No missing values
transmission : No missing values
fuelType : No missing values
tax : No missing values
mpg : No missing values
engineSize : No missing values
ownerName : No missing values

2019    2242
2016    1417
2017    1403
2015     697
2018     574
2020     449
2014     300
2013     207
2012      57
2011      29
2010      20
2009      15
2008      13
2007       6
2006       4
2005       4
2004       1
Name: year, dtype: int64

In [1990]:
operations = json.load(open('suggestions.json'))
test_df = cars.copy()
test_df = clean_train(test_df, 'price', operations)
test_df.head()

model False (7438, 11) OUTLIER
model False (7438, 11)
model False (7438, 11)
year False (7438, 11) OUTLIER
year False (7375, 11)
year : No missing values
year False (7375, 11)
transmission False (7375, 11) OUTLIER
transmission False (7375, 11)
transmission : No missing values

C:\Users\omar_\AppData\Local\Temp\ipykernel_8836\1929179420.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(datatype)
C:\Users\omar_\AppData\Local\Temp\ipykernel_8836\2367574136.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].str.strip()

transmission False (7375, 13)
mileage False (7375, 13) OUTLIER
mileage False (7277, 13)
mileage False (7277, 13)
fuelType False (7277, 13) OUTLIER
fuelType False (7277, 13)
fuelType : No missing values
fuelType False (7277, 15)
tax False (7277, 15) OUTLIER
tax False (7269, 15)
tax : No missing values
tax False (7269, 15)
mpg False (7269, 15) OUTLIER
mpg False (7233, 15)
mpg : No missing values
mpg False (7233, 15)
engineSize False (7233, 15) OUTLIER
engineSize False (7233, 15)
engineSize : No missing values
engineSize False (7233, 15)
state False (7233, 15) OUTLIER
state False (7233, 15)
state False (7233, 16)

,model,year,price,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Petrol,state_New,state_Used
0,0,2016,10999,19865.0,0,76.3,3,0,1,0,1,0,0,0,1
1,1,2017,18400,27672.0,125,49.6,5,0,1,0,0,0,1,0,1
2,1,2016,15945,27306.0,125,61.4,5,0,0,1,1,0,0,0,1
3,1,2015,8490,40000.0,20,68.9,5,0,1,0,1,0,0,0,1
4,5,2018,17297,31433.0,145,64.2,3,0,1,0,1,0,0,0,1

In [1991]:
test_df.to_csv("cleaned_cars.csv", index=False)
test_df.shape

(7233, 15)

In [1992]:
x_train, x_test, y_train, y_test = train_test_split(
    test_df.loc[:, test_df.columns != 'price'], test_df["price"], test_size=0.20)

In [1993]:
rf = RandomForestRegressor(n_estimators=1000, random_state=0)
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
print("RF error: ", mean_squared_log_error(y_test, y_pred, squared=True))
print("RF error: ", mean_squared_log_error(y_test, y_pred, squared=False))

RF error:  0.008840657539119195
RF error:  0.09402477088043977